*.ipynb
.flake8
.venv
.vscode
*.pyc
.env
pindureta.txt
.coverage
htmlcov
.pytest_cache
site
*.egg-info
database.db
anilist_subsplease.json
mal_subsplease.json
*.db-wal
*.db_shm
src/anifeed/database.db-shm
