name: Unit and functional tests

on:
  push:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    name: Continuous Integration
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: pyproject.toml
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --extra mkdocs

      - name: Build Documentation
        run: mkdocs build --clean

      - name: Deploy Documentation
        run: mkdocs gh-deploy

